html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#eventContainer {
    display: flex;
    align-content: center;
    background-color: lightblue;
    background-image: url('/public/assets/background2.jpg'); 
    background-size: cover;
    background-position: center;
}

#eventContainer div {
    align-items: center;
    width: 100%;
    justify-content: center;
    display: flex;
    height: 150vh;
    /* Adjust height to fit viewport */
}

.info {
    padding: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    /* Semi-transparent background */
    color: yellow;
    border-radius: 10px;
    /* Rounded corners */
    box-sizing: border-box;
    overflow: hidden;
    /* Hide any overflowing content */
    text-align: left;
    display: flex;
    flex-direction: column;
    font-style: italic;
    font-family: sans-serif;
    font-size: small;
}

.holudDetails {
    /* background-image: url('/public/assets/eventDetailPic1.jpg'); */
    background-size: cover;
    background-position: center;
    padding: 20px;
    /* Padding inside the section */
}


.nikkahDetails {
    /* background-image: url('/public/assets/eventDetailPic2.jpg'); */
    background-size: cover;
    background-position: center;
    padding: 20px;
    /* Padding inside the section */
}

.receptionDetails {
    /* background-image: url('/public/assets/eventDetailPic3.jpg'); */
    background-size: cover;
    background-position: center;
    padding: 20px;
    /* Padding inside the section */
}