html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#eventContainer {
    display: flex;
    flex-direction: column; /* Ensure items stack vertically */
    align-items: center; /* Center align items horizontally */
    justify-content: center; /* Center align items vertically */
    /*background-image: url('/public/assets/White Beige BG.png'); */
    background-color:  #F5E9DC ;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    width: 100%; /* Ensure container takes full width */
    min-height: 100vh; /* Ensure container takes full height of the viewport */
    padding: 20px; /* Add padding for spacing */
}

#eventContainer div {
    align-items: center;
    justify-content: center;
    display: flex;
    /* Adjust height to fit viewport */
}

.info {
    padding: 15px;
    /* Semi-transparent background */
    border-radius: 30px;
    /* Rounded corners */
    box-sizing: border-box;
    overflow: hidden;
    /* Hide any overflowing content */
    text-align: left;
    display: flex;
    flex-direction: column;
    font-style: italic;
    font-size: small;
    font-family: 'Dancing Script', cursive;
}

@media (min-width: 768px) {
    #eventContainer {
        flex-direction: row; /* Change to row direction for desktop */
    }
    .column {
        width: calc(33.333% - 40px); /* Adjust width for three columns with spacing */
        margin-bottom: 0; /* Remove bottom margin for desktop view */
    }
}


.nikkahDetails {
    padding: 20px;
}

.receptionDetails {
    padding: 20px;
}