/* src/OurStory.css */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.our-story {
  background-image: linear-gradient(
    to bottom, 
    rgba(217, 185, 155, 0) 50%, /* Transparent at the top */
    rgba(217, 185, 155, 1) 100% /* Solid color at the bottom */
  ),url('/public/assets/F+Y-1.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh; /* Adjust height to fit viewport */
  display: flex;
}

.content {
  flex: 1; /* Allow content to shrink but not grow */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Hide any overflowing content */
  text-align: center; /* Center the text horizontally */
  margin: 0 auto; /* Center horizontally */
  justify-content: center; /* Center horizontally within flexbox */
  align-items: center; /* Center vertically within flexbox */
  font-family: 'Didot';
  color: white;
}

@media (min-width: 768px) {
  .content {
    padding: 30px
  }

}

