.enterPassword{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url('/public/assets/background2.jpg'); 
    background-size: cover;
    background-position: center;
    height: 45vh;
    display: flex;
}
