/* src/components/UploadPhotos.css */

.upload-container {
    text-align: center; /* Center the text horizontally */
    color: #fff; /* Text color to match the design */
  }
  
  .upload-container h1{
    font-size: 2rem; 
    font-family: 'Times New Roman', Times, serif;
  }
  
  .upload-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff; /* Use a complementary color */
    color: #d9b99b; /* Text color matching background color */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .upload-button:hover {
    background-color: #f5f5f5; /* Light shade for hover effect */
  }

  .upload-input::-webkit-file-upload-button {
    padding: 10px 20px; /* Add padding to the file button */
    font-size: 16px; /* Increase the font size of the file button */
    cursor: pointer; /* Ensure the cursor is a pointer */
    background-color: #ffffff; /* Background color matching your theme */
    color: #d9b99b; /* Text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Add rounded corners */
  }
  
  .upload-input:hover::-webkit-file-upload-button {
    background-color: #f5f5f5; /* Light shade for hover effect */
  }

