/* src/App.css */
 

  html, body {
    font-family: 'Didot', sans-serif;
  }
  
  
  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the app takes up at least the viewport height */
  }
  
  #our-story {
    flex: 1; /* Expand to take remaining space */
  }
  
  body {
    background-color: #d9b99b; /* Use your desired background color */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
  }

  
  